<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style.css">
        <title>Pet Patrol</title>
        <link rel="shortcut icon" type="image/png" href="images/dog-paw.png" />

    </head>
    <body>
        <nav>
            <a href="/"><h2>Pet Patrol</h2></a>
            <ul>
                {{#if user}}
                    {{#if isAdmin}}
                        <li><a href="/adminHome">Admin Panel</a></li>
                    {{/if}}
                    <li><a href="/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/requestAccount">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>

        <nav1 class="navbar navbar-expand-sm justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/aboutUs">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
            <li class="nav-item"><a class="nav-link" href="/allPets">View All Pets</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Search Lost Pet</a></li>
          </ul>
        </nav1>

        <div class="container mt-4 text-center">
            <div class="jumbotron">
                <h2 class="display-4">About Us</h2>
                <hr class="my-4">
                <img src="/images/puppy.jpg" alt="dog" width="300" height="300">
                <img src="/images/pepper.jpg" alt="dog" width="300" height="300">
                <br><br>
                <p class="text-left"> We love dog </p>
            </div>     
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    </body>
</html>