<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One"> <!-- Adds Fauna Font -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" /> <!--Adds Lobster Font-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="/style.css">

        <title>Pet Patrol</title>
        <link rel="shortcut icon" type="image/png" href="images/dog-paw.png" />

    </head>
    <body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
        <nav>
            <a href="/"><h1>Pet Patrol</h1></a>
            <ul>
                {{#if user}}
                    {{#if isAdmin}}
                        <li><a href="/adminHome">Admin Panel</a></li>
                    {{/if}}
                    <li><a href="/savedSearches">My Saved Searches</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/requestAccount">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>

        <nav1 class="navbar navbar-expand-sm justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/aboutUs">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
            <li class="nav-item"><a class="nav-link" href="/allPets">View All Pets</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Search Lost Pet</a></li>
          </ul>
        </nav1>


        <div class="container mt-4 text-center">
            <br>
            <h3>Tips and tricks to get your pet home safely:</h3>
            <br/>
            <div class="row">
              <div class="col">
                  <h3 style="font-weight: bold; color:#00ccc9">#1</h3>
                  <h5>Search the neighborhood</h5>
              </div>
              <div class="col">
                  <h3 style="font-weight: bold; color:#00ccc9">#2</h3>
                  <h5>Advertise on social media</h5>
              </div>
              <div class="col">
                  <h3 style="font-weight: bold; color:#00ccc9">#3</h3>
                  <h5>Be wary of pet-recovery scams</h5>
              </div>
              <div class="col">
                  <h3 style="font-weight: bold; color:#00ccc9">#4</h3>
                  <h5>Don't give up your search</h5>
              </div>
            </div><br/>

            <hr class="my-2"> <!-- line separating text -->
            <br/>
            <div class="row">
                <div class="col-sm-6"><br/>
                    <img src="/images/phone.png" alt="" width="40" height="40"><br/><br/>
                    <a href="tel:311"><h1 style="font-family: Fauna One ;color:#00ccc9"> Call 311</h1> </a>
                    <h4>to report a lost pet </h4>
                </div>
                <div class="col-sm-6">
                    <h5 style="color:#00ccc9; font-weight: bold;"> Austin Animal Center's Physical Address:</h5>
                    <p> Austin Animal Center</p>
                    <p>7201 Levander Loop Bldg. A </p>
                    <p>Austin, TX 78702</p>
                    <a href="https://www.google.com/maps/place/Austin+Animal+Center/@30.2514089,-97.691671,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b514250ca045:0x3814e2926e60ba70!8m2!3d30.2514089!4d-97.6894823">Google Maps</a>
                </div>

            </div>
        </div>
        <br/>

        <br/>
        <div class="container mt-4 text-center">
            <hr class="my-2"> <!-- line separating text -->
            <br/>
            <h3>Useful websites</h3>
            <br>
            <div class="row">
                <!-- Reference Links -->
                <div class="col-sm-6">
                    <div class="media">
                      <img src="/images/dog-paw.png" class="align-self-start mr-3" style="width:50px">
                      <div class="media-body">
                          <a href="https://www.humanesociety.org/resources/what-do-if-you-lose-your-pet#:~:text=File%20a%20lost%20pet%20report,contact%20the%20local%20police%20department."> <h4 style="color:#00ccc9">The Humane Society of The United States </h4></a>
                          <p>Article that walks you step by step on what to do in order to find your pet</p>
                      </div>
                    </div>

                    <div class="media">
                      <img src="/images/dog-paw.png" class="align-self-start mr-3" style="width:50px">
                      <div class="media-body">
                          <a href="https://www.austintexas.gov/department/lost-found-pet"><h4 style="color:#00ccc9">Austin Animal Center Lost and Found </h4></a>
                          <p>How to report a lost pet and how to reclaim your pet from the Austin Animal Center </p>

                          <p></p>
                      </div>
                    </div>

                    <div class="media">
                      <img src="/images/dog-paw.png" class="align-self-start mr-3" style="width:50px">
                      <div class="media-body">
                          <a href="https://www.austintexas.gov/department/austin-animal-center-services"><h4 style="color:#00ccc9">Austin Animal Center Services/Resources </h4></a>
                          <p>Information about services provided by the Austin Animal Center, Austin Animal Center's contact information and recent news</p>

                      </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="media">
                      <img src="/images/dog-paw.png" class="align-self-start mr-3" style="width:50px">
                      <div class="media-body">
                          <a href="https://www.peta.org/living/animal-companions/how-to-find-missing-lost-cat-dog/"><h4 style="color:#00ccc9">PETA | People for the Ethical Treatment of Animals </h4></a>
                          <p>13 Things You Can Do to Find Your Lost Dog or Cat</p>
                      </div>
                    </div>

                    <div class="media">
                      <img src="/images/dog-paw.png" class="align-self-start mr-3" style="width:50px">
                      <div class="media-body">
                          <a href="https://www.petsforpatriots.org/20-steps-you-can-take-when-your-pet-is-lost/"> <h4 style="color:#00ccc9">Pets for Patriots </h4></a>
                          <p>20 steps you can take when your pet is lost</p>
                      </div>
                    </div>

                    <div class="media">
                      <img src="/images/dog-paw.png" class="align-self-start mr-3" style="width:50px">
                      <div class="media-body">
                          <a href="https://www.aspca.org/pet-care/general-pet-care/finding-lost-pet"> <h4 style="color:#00ccc9">American Society for the Prevention of Cruelty to Animals </h4></a>
                          <p> Recommendations to find your lost pet</p>
                      </div>
                    </div>
                </div>
            </div><br/><br/><br/><br>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    </body>

    <div class="footer">
        <br>
        <div class="row">
            <div class="col-sm-2">
                <h5 class="h5"> Pet Patrol </h5>

            </div>

            <div class="col-sm-6">
                <p>
                    <a style="color:white" href="/aboutUs">About Us</a>
                    <a style="color:white" href="/resources">| Resources</a>
                    <a style="color:white" href="/search">| Search Lost Pets</a>
                    <a style="color:white" href="/allPets">| View All Pets</a>
                </p>
            </div>

            <div class="col-sm-4">
                <p> Authors: Marcela Rodriguez & Kathryn Reck</p>
            </div>

        </div>
    </div>

</html>